.tile{
    -fx-border-style: solid; 
    -fx-border-width: 5; 
    -fx-border-color: black; 
    -fx-min-width: 100; 
    -fx-min-height: 100; 
    -fx-max-width: 100; 
    -fx-max-height: 100;
}

.free{
    -fx-background-color: red;
}

.occupied{
}

.character{
    -fx-background-color: green;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60%;
}

.character.down{
    -fx-background-image: url("file:myFiles/img/staticLinkDown.png");
}

.character.up{
    -fx-background-image: url("file:myFiles/img/staticLinkUp.png");
}

.character.left{
    -fx-background-image: url("file:myFiles/img/staticLinkLeft.png");
}

.character.right{
    -fx-background-image: url("file:myFiles/img/staticLinkRight.png");
}

.enemy{
    -fx-background-color: orange;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.enemy.down{
    -fx-background-image: url("file:myFiles/img/staticKnightDown.png");
    -fx-background-size: 80%;
}

.enemy.up{
    -fx-background-image: url("file:myFiles/img/staticKnightUp.png");
    -fx-background-size: 70%;
}

.enemy.left{
    -fx-background-image: url("file:myFiles/img/staticKnightLeft.png");
    -fx-background-size: 70%;
}

.enemy.right{
    -fx-background-image: url("file:myFiles/img/staticKnightRight.png");
    -fx-background-size: 70%;
}