<zelda.SettingsXML>
  <keyAssociation>
    <rightKey>RIGHT</rightKey>
    <leftKey>LEFT</leftKey>
    <upKey>UP</upKey>
    <downKey>DOWN</downKey>
    <swordKey>Z</swordKey>
    <specialKey>C</specialKey>
    <bowKey>X</bowKey>
  </keyAssociation>
  <serverLogAddress>
    <IPAddress>localhost</IPAddress>
    <port>9200</port>
  </serverLogAddress>
</zelda.SettingsXML>